@font-face {
    font-family: 'DaxlinePro';
   
    src:     
        url('../fonts/DaxlinePro-Light.woff') format('woff');     
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DaxlinePro';
    src: 
        url('../fonts/DaxlinePro-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'DaxlinePro';
    src: 
        url('../fonts/DaxlinePro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DaxlinePro';
    src: 
        url('../fonts/DaxlinePro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DaxlinePro';
    src: 
        url('../fonts/DaxlinePro-Regular.woff') format('woff');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: 
        url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

