@media (max-width: 1500px) {
	
}

@media (max-width: 1200px) {
	.header {
        &-logo__name {
            font-size: 18px;
        }

        &__item {
            margin-right: 10px;
        }

        &__link {
            font-size: 14px;
        }

        &__phone {
            font-size: 14px;
            padding: 8px 15px;
        }
    }

    .contacts {

        &__container {
            &:before {
                width: 300px;
                height: 170px;
                bottom: 0;
                right: 0;
            }
        }
    }
}

@media (max-width: 992px) {
    .about {
        &__container {
            padding: 80px 0 80px 50px;
        }
    }

    .contacts {

        &__container {
            &:before {
                width: 300px;
                height: 170px;
                bottom: 0;
                right: 0;
            }
        }
    }
	
}

@media (max-width: 768px) {

    .section-title {
        font-size: 34px;
    }

	.first {
        &__title {
            font-size: 36px;
        }

        &__descr {
            font-size: 18px;
        }
    }

    .header {

        &__list {
            display: none;
        }

        
    }
    .burger {
        display: block;
    }

    .category {

        &__grid {
            grid-template-columns: repeat(2, 1fr);
        }

        &__item {
            &-1 {
                grid-column-end: span 1;
            }
           
            &-4 {
                grid-column-end: span 1;
            }
        }
    }

    .products {

        &__list {
            flex-wrap: wrap;
            border-radius: 10px;

        }

        &__li {
            width: 50%;
            flex-grow: 1;
        }

        &__btn {
            width: 100%;
            border-top: 1px solid #e5e5e5;
        }

        &__items {
            justify-content: center;
            width: 100%;
        }
    }

    .about {

        &__title {
            font-size: 34px;
        }

        &__descr {
            font-size: 14px;
        }
    }

    .contacts {
        

        &__container {
            flex-wrap: wrap;
            justify-content: center;

            &:before {
                content: none;
            }
        }

        &__start {
            width: 100%;
            order: 1;
        }

        &__info {
            padding-left: 0;
            width: 300px;
            max-width: 100%;
        }

        &__map {
            margin: 0 -30px;
            height: 300px;
        }
    }

    .social {
        &__list {
            margin-bottom: 30px;
        }
    }
}


@media (max-width: 576px) {
    .header {
        &-logo__name {
            display: none;
        }

        &__phone {
            font-size: 10px;
            padding: 8px 10px;
        }
    }

    .products {

        &__list {
            flex-wrap: wrap;
        }

        &__li {
            width: 100%;
            flex-grow: 1;
        }

        &__btn {
            width: 100%;
            border-top: 1px solid #e5e5e5;
        }

        &__items {
            justify-content: center;
            width: 100%;
        }
    }

    .about {
        &__img-wrapper {
            width: 100%;
        }

        &__container {
            justify-content: center;
            padding: 80px 0;
        }

        &__wrapper {
            width: 80%;
        }

        &__descr{
            width: 100%;
        }
    }
}

@media (max-width: 375px) {
   
	
}