.container {
	max-width: 1626px;
	padding: 0 30px;
	margin: 0 auto;
}

.site-container {
	overflow: hidden;
}

.flex {
	display: flex;
}

.btn-reset {
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

.section-title {
	font-weight: 900;
	font-size: 46px;
	font-family: 'Montserrat', sans-serif;
	line-height: 40px;
	color: var(--accent-color);
	padding-bottom: 40px;
	text-align: center;

}

.section-title--center {
	text-align: center;
	max-width: none;
}

.btn {
	font-weight: 800;
	font-size: 12px;
	letter-spacing: 2.18182px;
	text-transform: uppercase;
	border-radius: 8px;
	color: var(--white-color);
	padding: 23px 70px;
}

.phone-btn {
		display: inline-block;
        padding: 10px 30px;
        border-radius: 20px;
		color: var(--white-color);
        border: 2px solid var(--white-color);
        font-weight: 900;
        transition: all 0.3s;
		
        &:hover {
            background-color: rgba(255,255,255, 0.3);
            transition: all 0.3s;
        }
}