.first {
    height: 100vh;
    min-height: 660px;
    padding: 170px 0 100px;
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("../../img/first-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white-color);
    position: relative;
    

    &__container {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 450px;
    }

    &__descr {
        font-size: 24px;
        color: var(--orange-color);
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
    }

    &__title {
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 30px;
        font-size: 55px;
        font-weight: 700;
        text-align: center;
    }

    &__btn {
        border-radius: 30px;
        background-color: var(--accent-color);
        transition: all 0.3s;
        box-shadow: 0 0 38px 0 rgba(212, 66, 50, 0.8);

        &:hover {
            background-color: var(--accent-hover-color);
            transition: background-color 0.3s;
        }

        &:active {
            opacity: 0.8;
            transform: scale(0.95);
            transition: all 0.3s;
        }
    }

}

